@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --mainColor: #462a67;
    --secColor: #5be7c4;
    --light: #e3edfa;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    font-family: 'Work Sans', sans-serif;
}
/* end global */
.header {
    position: fixed;
    background-color: var(--mainColor);
    width: 100%;
    overflow: hidden;
    padding: 1.9rem 0;
}
.nav {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: var(--secColor);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul .nav-item .nav-link {
    color: var(--light);
    margin-right: 3.2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8rem;
}
.ul .nav-item .nav-link:hover {
    color: #fff;
}
/* start v2.0.0 */
.container {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0 ,0 , 0, .6)), url('../img/nature.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1; 
}
.container-top h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-decoration: underline;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}